:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-font: #4B82F6; 
  --background-light: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #222;
  /* background: linear-gradient(135deg, #0a0a0a 40%, #1E555C 100%); */
  background: #F5F7FA;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.btn-brand {
  background-color: #1E555C !important;
  border-color: #1E555C !important;
  color: #fff !important;
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: #1E555C !important;
  border-color: #fff !important;
  color: #fff !important;
}

.nav-link.active {
  background-color: #1E555C !important;
  color: #fff !important;
}

.nav-link{
  color: #222 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.login-link {
  background-color: #285280 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}



.noselect{
  user-select: none;
}

.secondary-badge-color {
  background-color: #3599a690 !important;
  color: #fff !important;
}

.secondary-btn-color {
  background-color: #3599a690 !important;
  color: #fff !important;
}

.custom-close-button {
  background-color: rgb(165, 3, 3);
  color: #fff;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.custom-close-button:hover {
  background-color: rgb(236, 82, 82); /* change this to your desired hover color */
}

.collection-button {
  width: 100%;
  background-color: rgb(66, 66, 66);
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.collection-button:hover {
  background-color: rgb(90, 90, 90); /* your hover color */
  cursor: pointer;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.highlighted {
  background: #285280;
  color: #fff;
  border-radius: 0.2em;
  padding: 0.15em 0.4em;
  font-weight: 700;
  display: inline-block;
  transform: skew(-5deg);
  box-shadow: 2px 3px 6px rgba(40, 82, 128, 0.07)
}

.blurred-container {
  margin-top: 180px;
  border-radius: 10px 10px 10px 10px;
  padding: 40px 48px 50px;
  background: rgba(255,255,255,0.6); 
  box-shadow: 0px 30px 19.072px -10px #0a0a0a40;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 640px;
  gap: 70px;
  z-index: 2;
  transition: all .5s;
}
.blurred-container:hover {
  transform: scale(1.02);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw; /* or your preferred width */
  align-items: left; /* centers children horizontally */
  justify-content: flex-start; /* starts content from the top */
  min-height: 100vh;
}

.green-font {
  color: #1E555C;
}

.blue-font {
  color: #285280;
}

.hiw-container {
  /* display: flex; */
  margin-top: 2rem;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.hiw-card {
  background: linear-gradient(214deg, hsla(0, 0%, 100%, .09) 2.32%, rgba(40, 82, 128, .2) 99.99%);      /* <-- White, 35% opacity */
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(40, 50, 80, 0.12);
  backdrop-filter: blur(12px);                /* <-- This blurs what's behind the card */
  -webkit-backdrop-filter: blur(12px);        /* Safari support */
  text-align: center;
  width: 280px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 32px 16px;
  margin: 0;
  transition: box-shadow 0.2s;
}

.hiw-card>div>h2 {
    color: var(--font-color);
    font-size: 24px;
    font-weight: 700;
}

.blue-light {
    position: absolute;
    display: flex
;
    width: 939px;
    height: 939px;
    border-radius: 939px;
    background: rgba(40, 82, 128, 0.7);
    filter: blur(500px);
    left: -550px;
    bottom: -500;
    z-index: -1;
}

#how-it-works {
  max-width: 90vw;
  text-align: start;
  margin-bottom: 4rem;
  margin-left: 10vw;
}